@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans';
}
.container{
    border: 4px solid black;
    border-radius: 20px;
    padding: 5%;
    height: 90%;
    width: 50%;
    
}
.line{
    height: 4px;
    width: 50%;
    background-color: black;
    border-radius: 2px;
}
section{
    margin-top: 30px;
}
p span{
    color: rgb(0, 169, 169);
}
